<div class="container">

    <!-- Filtro -->
    <div class="search-area" id="search-area-1">
        <div class="container">
            <div class="search-area-inner">
                <div class="search-contents">

                    <div class="row">
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select name="ddlFinalidade" id="ddlFinalidade"
                                    class="selectpicker search-fields selectBox">
                                    <option selected="selected" value="1">Venda</option>
                                    <option value="2">Locação</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select name="ddlTipo" id="ddlTipo" class="selectpicker search-fields selectBox">
                                    <option selected="selected" value="0">Tipo de Imóvel</option>
                                    <option value="28">Apart Hotel</option>
                                    <option value="1">Apartamento</option>
                                    <option value="3">Casa</option>
                                    <option value="4">Cobertura</option>
                                    <option value="5">Cobertura Duplex</option>
                                    <option value="7">Fazenda</option>
                                    <option value="8">Galpão</option>
                                    <option value="2">Garagem / Box</option>
                                    <option value="23">Granja</option>
                                    <option value="10">Kitnet</option>
                                    <option value="11">Loja</option>
                                    <option value="12">Pousada</option>
                                    <option value="16">Prédio</option>
                                    <option value="13">Sala</option>
                                    <option value="14">Sítio</option>
                                    <option value="17">Sobrado</option>
                                    <option value="15">Terreno</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select name="ddlDormitorios" id="ddlDormitorios"
                                    class="selectpicker search-fields selectBox">
                                    <option selected="selected" value="0">Dormitório(s)</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="11">11</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select name="ddlMunicipio" id="ddlMunicipio"
                                    class="selectpicker search-fields selectBox">
                                    <option selected="selected" value="0">Município</option>
                                    <option value="3315">Juiz de Fora </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <select name="ddlBairro" id="ddlBairro" class="selectpicker search-fields selectBox">
                                    <option selected="selected" value="0">Bairro</option>
                                    <option value="4501">Aeroporto </option>
                                    <option value="52860">Aeroporto</option>
                                    <option value="53200">Alphaville</option>
                                    <option value="52905">Alto dos Passos</option>
                                    <option value="4502">Alto dos Pinheiros </option>
                                    <option value="4505">Bairu </option>
                                    <option value="4506">Bandeirantes </option>
                                    <option value="4507">Barbosa Lage </option>
                                    <option value="4508">Barreira do Triunfo </option>
                                    <option value="4510">Benfica </option>
                                    <option value="4511">Boa Vista </option>
                                    <option value="4512">Bom Clima </option>
                                    <option value="4513">Bom Pastor </option>
                                    <option value="4514">Bonfim </option>
                                    <option value="4516">Borboleta </option>
                                    <option value="4517">Bosque do Imperador </option>
                                    <option value="4518">Bosque dos Pinheiros </option>
                                    <option value="52974">Bosque Imperial</option>
                                    <option value="49409">Cai&#231;aras </option>
                                    <option value="52831">Cai&#231;aras</option>
                                    <option value="53312">Caracol</option>
                                    <option value="52961">Cascatinha</option>
                                    <option value="4520">Cascatinha </option>
                                    <option value="4521">Centen&#225;rio </option>
                                    <option value="4522">Centro </option>
                                    <option value="52898">Centro</option>
                                    <option value="52872">centro</option>
                                    <option value="52884">Centro</option>
                                    <option value="52885">Centro</option>
                                    <option value="4523">Cer&#226;mica </option>
                                    <option value="53447">Cesário Alvim</option>
                                    <option value="4524">Chales do Imperador </option>
                                    <option value="4525">Cidade do Sol </option>
                                    <option value="4526">Cidade Jardim </option>
                                    <option value="4528">Costa Carvalho </option>
                                    <option value="4529">Cruzeiro do Sul </option>
                                    <option value="4530">Democrata </option>
                                    <option value="4533">Eldorado </option>
                                    <option value="4534">Encosta do Sol </option>
                                    <option value="53141">Enseada I</option>
                                    <option value="53126">Estrada Real</option>
                                    <option value="52855">Estrela Sul </option>
                                    <option value="4536">F&#225;brica </option>
                                    <option value="4537">Filgueiras </option>
                                    <option value="53099">Florestinha</option>
                                    <option value="31122">Fontesville </option>
                                    <option value="49372">Fontesville II </option>
                                    <option value="4539">Francisco Bernardino </option>
                                    <option value="4540">Graja&#250; </option>
                                    <option value="4541">Grama </option>
                                    <option value="4542">Graminha </option>
                                    <option value="4543">Granbery </option>
                                    <option value="4544">Granjas Bet&#226;nia </option>
                                    <option value="4547">Granjas Guaruj&#225; </option>
                                    <option value="4549">Granville </option>
                                    <option value="49219">Igrejinha </option>
                                    <option value="4550">Industrial </option>
                                    <option value="4551">Ipiranga </option>
                                    <option value="4554">Jardim de Al&#225; </option>
                                    <option value="4555">Jardim do Sol </option>
                                    <option value="4558">Jardim Gl&#243;ria </option>
                                    <option value="53211">Jardim Imperial</option>
                                    <option value="53122">Jardim Laranjeiras</option>
                                    <option value="52847">Jardim Liu</option>
                                    <option value="53189">Jardim Santa Izabel</option>
                                    <option value="53395">Jardim S&#227;o Jo&#227;o</option>
                                    <option value="4564">Jardins Imperiais </option>
                                    <option value="4566">J&#243;quei Clube </option>
                                    <option value="4568">Linhares </option>
                                    <option value="4569">Lourdes </option>
                                    <option value="4570">Manoel Hon&#243;rio </option>
                                    <option value="4571">Mans&#245;es do Bom Pastor </option>
                                    <option value="4572">Mariano Proc&#243;pio </option>
                                    <option value="4573">Maril&#226;ndia </option>
                                    <option value="4574">Martelos </option>
                                    <option value="4576">Milho Branco </option>
                                    <option value="4577">Monte Castelo </option>
                                    <option value="53634">Monte Verde</option>
                                    <option value="53245">Morada das Gar&#231;as</option>
                                    <option value="4578">Morro da Gl&#243;ria </option>
                                    <option value="53780">Morro do Imperador</option>
                                    <option value="4580">Mundo Novo </option>
                                    <option value="4581">Nossa Senhora Aparecida </option>
                                    <option value="4584">Nossa Senhora de F&#225;tima </option>
                                    <option value="53365">NOVA CALIFORNIA</option>
                                    <option value="4586">Nova Calif&#243;rnia </option>
                                    <option value="4587">Nova Era </option>
                                    <option value="4588">Novo Horizonte </option>
                                    <option value="4590">Paineiras </option>
                                    <option value="4593">Parque das Palmeiras </option>
                                    <option value="4595">Parque Guadalajara </option>
                                    <option value="4596">Parque Guarani </option>
                                    <option value="4597">Parque Guarua </option>
                                    <option value="4598">Parque Imperial </option>
                                    <option value="4599">Parque Independ&#234;ncia </option>
                                    <option value="31121">Parque Independ&#234;ncia III </option>
                                    <option value="4601">Parque Jardim da Serra </option>
                                    <option value="4603">Passos </option>
                                    <option value="53152">Paula Lima</option>
                                    <option value="4604">Po&#231;o Rico </option>
                                    <option value="53153">Pomar da Serra</option>
                                    <option value="4606">Portal da Torre </option>
                                    <option value="53284">Portal do Aeroporto</option>
                                    <option value="51261">Previdenci&#225;rios </option>
                                    <option value="4607">Progresso </option>
                                    <option value="4608">Quintas das Avenidas </option>
                                    <option value="53162">Recanto da Mata</option>
                                    <option value="4609">Recanto dos Lagos </option>
                                    <option value="4611">Resid&#234;ncia </option>
                                    <option value="4612">Retiro </option>
                                    <option value="4614">Salvaterra </option>
                                    <option value="4615">Santa C&#226;ndida </option>
                                    <option value="4616">Santa Catarina </option>
                                    <option value="4617">Santa Cec&#237;lia </option>
                                    <option value="4618">Santa Cruz </option>
                                    <option value="4619">Santa Efig&#234;nia </option>
                                    <option value="4620">Santa Helena </option>
                                    <option value="49216">Santa Isabel </option>
                                    <option value="4621">Santa Luzia </option>
                                    <option value="4622">Santa Maria </option>
                                    <option value="4623">Santa Paula </option>
                                    <option value="4625">Santa Teresa </option>
                                    <option value="4626">Santa Terezinha </option>
                                    <option value="4627">Santana </option>
                                    <option value="4628">Santo Ant&#244;nio </option>
                                    <option value="4630">Santos Dumont </option>
                                    <option value="4632">S&#227;o Bernardo </option>
                                    <option value="4635">S&#227;o Geraldo </option>
                                    <option value="4636">S&#227;o Judas Tadeu </option>
                                    <option value="53257">S&#227;o Lucas</option>
                                    <option value="52810">S&#227;o Lucas II </option>
                                    <option value="52886">S&#227;o Mateus</option>
                                    <option value="4637">S&#227;o Mateus </option>
                                    <option value="4638">S&#227;o Pedro </option>
                                    <option value="52979">S&#227;o Pedro</option>
                                    <option value="52980">S&#227;o Pedro</option>
                                    <option value="48530">Spina Ville II </option>
                                    <option value="53123">Spina Ville III</option>
                                    <option value="4643">Teixeiras </option>
                                    <option value="49371">Terras Altas </option>
                                    <option value="4644">Tiguera </option>
                                    <option value="4648">Vale do Ip&#234; </option>
                                    <option value="4655">Vila Ideal </option>
                                    <option value="4656">Vila Montanhesa </option>
                                    <option value="4657">Vila Olavo Costa </option>
                                    <option value="4660">Vina Del Mar </option>
                                    <option value="4661">Vitorino Braga </option>
                                    <option value="4662">Vivendas da Serra </option>
                                    <option value="49220">Vivendas das Fontes
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <input name="TextBox1" type="text" placeholder="Valor inicial R$" id="TextBox1"
                                    class="form-control">

                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <input name="TextBox2" type="text" placeholder="Valor final R$" id="TextBox2"
                                    class="form-control">

                            </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <div class="form-group">
                                <input type="submit" name="btnProcurar" value="Buscar" id="btnProcurar"
                                    class="btn btn-md btn-dark">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- Destaques Venda -->
    <div class="properties-list-fullwidth content-area-2">
        <div class="container">
            <div class="main-title">
                <h1>Destaques de Venda</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="property-box">
                        <div class="property-thumbnail">
                            <a class="property-img">

                                <img src="https://picsum.photos/600?random=1"
                                    alt="Sala-Codigo-11289-a-Venda-no-bairro-Centro-na-cidade-de-Juiz-de-Fora"
                                    class="img-fluid">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title" routerLink="/detalhar-imovel">
                                <a>Sala</a>
                            </h1>
                            <div class="location">
                                <a href="properties-details.html">
                                    <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>Centro, Juiz
                                    de Fora</a>
                            </div>
                            <ul class="facilities-list clearfix">

                                <li><i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                    42,00m<sup>2</sup></li>
                                <li><i class="flaticon-car-repair"></i> 1 garagem(ns)</li>
                                <li><i class="flaticon-car-repair"></i> </li>
                            </ul>
                        </div>
                        <div class="footer">
                            R$ 260.000,00
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="property-box">
                        <div class="property-thumbnail">
                            <a class="property-img">

                                <img src="https://picsum.photos/600?random=2"
                                    alt="Apartamento-Codigo-16871-a-Venda-no-bairro-Granbery-na-cidade-de-Juiz-de-Fora"
                                    class="img-fluid">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title" routerLink="/detalhar-imovel">
                                <a>Apartamento - 3 quartos</a>
                            </h1>
                            <div class="location">
                                <a href="properties-details.html">
                                    <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>Granbery,
                                    Juiz de Fora</a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li><i class="flaticon-bed"></i> 3 dormitório(s)</li>
                                <li><i class="flaticon-bath"></i> 2 banheiro(s)</li>
                                <li><i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                    120,00m<sup>2</sup></li>
                                <li><i class="flaticon-car-repair"></i> 2 garagem(ns)</li>
                            </ul>
                        </div>
                        <div class="footer">
                            R$ 749.000,00
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="property-box">
                        <div class="property-thumbnail">
                            <a class="property-img">

                                <img src="https://picsum.photos/600?random=3"
                                    alt="Casa-Codigo-15223-a-Venda-no-bairro-Aeroporto-na-cidade-de-Juiz-de-Fora"
                                    class="img-fluid">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title" routerLink="/detalhar-imovel">
                                <a>Casa - 5 quartos</a>
                            </h1>
                            <div class="location">
                                <a href="properties-details.html">
                                    <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>Aeroporto,
                                    Juiz de Fora</a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li><i class="flaticon-bed"></i> 3 dormitório(s)</li>
                                <li><i class="flaticon-bath"></i> 5 banheiro(s)</li>

                                <li><i class="flaticon-car-repair"></i> 1 garagem(ns)</li>
                            </ul>
                        </div>
                        <div class="footer">
                            R$ 1.150.000,00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>