<div class="about-us content-area-8 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text more-info">
                    <h3>Quem Somos</h3>
                    <p>
                        Considerada uma das empresas líderes do mercado imobiliário da cidade de Juiz de
                        Fora e região, tem suas atividades principalmente centradas na Administração de
                        Aluguéis, Administração de Condomínios e Corretagem de Imóveis.
                    </p>
                    <br>
                    <p>
                        No setor de compra e venda, possui equipe altamente profissionalizada, dinâmica moderna de
                        vendas, mais opções e comodidade para negociar o seu imóvel, assegurando uma qualidade nos
                        negócios,
                        destacam-se ainda as parcerias realizadas com as principais Construtoras e Incorporadoras da
                        cidade com lançamentos nos mais diversos segmentos.

                    </p>
                    <br>
                    <p>
                        Em Locações o destaque è o atendimento diferenciado, onde Proprietários e Inquilinos
                        encontram o perfeito equilíbrio para uma locação tranquila. Os imóveis são inspecionados
                        na entrada e entrega, garantindo às partes o imóvel em perfeitas condições, além de mantermos
                        equipe especializada para reparos e manutenção temos um departamento Jurídico competente
                        para resolver qualquer pendência.

                    </p>
                    <br>
                    <p>
                        A Ciscoto Imóveis prima pelo crescimento voltado para a satisfação dos clientes com a estratégia
                        da diferenciação pela qualidade do atendimento que presta.

                    </p>
                    <hr>

                </div>
            </div>
        </div>
    </div>
</div>