<div onload="initialize()" class="properties-details-page content-area-16">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="heading-properties">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h3>
                                    <span id="ContentPlaceHolder1_lblTitulo2">Casa - 5 quartos</span>
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="ContentPlaceHolder1_panelDescricao">

                    <div class="property-description mb-60">
                        <h3 class="heading">Descrição</h3>
                        <div id="ContentPlaceHolder1_idDescricao">
                            <p>Excelente casa 3 quartos com 3 suítes, construida centro de terreno, muros altos seguro,
                                ensolarado, desocupado, local agradavel, lindas casas ao redor, plena rua Francisco
                                Baptista de Oliveira, salão p/3 amb. c/lareira, banho social c/pia vidro c/gabinete e
                                box blindex, 1º qto amplo c/piso tabua corrida c/rm. e suíte c/gabinete e box blindex,
                                2º qto c/piso tabua corrida c/arm. emb. c/pia granito e gabinete e box blindex, 3º qto
                                amplo c/piso tabua corrida, antena parabolica c/suite e pia granito e gabinete e
                                banheira hidro e box blindex, copa / cozinha ampla c/bancada e pia granito e arm.
                                planejados, amplo quintal c/churrasqueira, lavanderia, piscina, amplo estacionamento,
                                garagem coberta.</p>
                        </div>
                    </div>

                </div>





                <div id="ContentPlaceHolder1_idAtencao"></div>

                <div id="ContentPlaceHolder1_panelEstruturaImovel">

                    <div class="amenities-box af ">
                        <h3 class="heading">Estrutura do Imóvel</h3>
                        <div class="row">

                            <div class="col-md-12 col-sm-12">
                                <ul class="lista">

                                    <li>
                                        <span><i class="flaticon-draw-check-mark"></i>1 vaga(s) de garagem</span>
                                    </li>

                                    <li>
                                        <span><i class="flaticon-draw-check-mark"></i>1 sala(s)</span>
                                    </li>

                                    <li>
                                        <span><i class="flaticon-draw-check-mark"></i>5 banheiro(s)</span>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>


                <div id="ContentPlaceHolder1_panelForm">

                    <div class="contact-1 content-area-7">

                        <h3 class="heading">Solicitação de Informação ou Agenda de Visitas</h3>
                        <span id="ContentPlaceHolder1_lblDetalReserva"></span>
                        <div class="form-group">
                            <label>Nome*</label>
                            <input name="ctl00$ContentPlaceHolder1$txtNomeInfo" type="text"
                                id="ContentPlaceHolder1_txtNomeInfo" class="form-control full"
                                style="color:Black;font-size:14px;width:100%;">
                        </div>
                        <div class="form-group">
                            <label>E-mail*</label>
                            <input name="ctl00$ContentPlaceHolder1$txtEmailInfo" type="text"
                                id="ContentPlaceHolder1_txtEmailInfo" class="form-control full"
                                style="color:Black;font-size:14px;width:100%;">
                        </div>
                        <div class="form-group">
                            <label>Telefone</label>
                            <input name="ctl00$ContentPlaceHolder1$txtFoneInfo" type="text" maxlength="15"
                                id="ContentPlaceHolder1_txtFoneInfo" class="form-control full"
                                onkeypress="mascara( this, mtel );" style="color:Black;font-size:14px;width:100%;">
                        </div>
                        <div class="form-group">
                            <label>Celular</label>
                            <input name="ctl00$ContentPlaceHolder1$txtCelInfo" type="text" maxlength="15"
                                id="ContentPlaceHolder1_txtCelInfo" class="form-control full"
                                onkeypress="mascara( this, mcel );" style="color:Black;font-size:14px;width:100%;">
                        </div>

                        <div class="form-group">
                            <span id="ContentPlaceHolder1_lblInfoObs">Observações</span>
                            <textarea name="ctl00$ContentPlaceHolder1$txtObsInfo" rows="2" cols="20"
                                id="ContentPlaceHolder1_txtObsInfo" class="form-control full"
                                style="color:Black;font-size:14px;height:116px;width:100%;"></textarea>
                        </div>
                        <div class="form-group">


                            <span id="ContentPlaceHolder1_lblControle">Por favor, digite no campo abaixo, o valor total
                                do seguinte somatório: 14 + 10</span>
                            <input name="ctl00$ContentPlaceHolder1$txtSomatorioControle" type="text" maxlength="15"
                                id="ContentPlaceHolder1_txtSomatorioControle" class="form-control full"
                                onkeypress="mascara( this, mnum );" style="color:Black;font-size:14px;width:100%;">

                        </div>

                        <input type="submit" name="ctl00$ContentPlaceHolder1$btnEnviarInfo" value="Enviar"
                            id="ContentPlaceHolder1_btnEnviarInfo" class="btn btn-color btn-md btn-message">

                        <p class="alert alert-warning">
                            Os campos com (*) são obrigatórios o preenchimento.
                        </p>
                        <span id="ContentPlaceHolder1_lblRespInfo"></span>


                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar mbl">
                    <div id="ContentPlaceHolder1_panelValorVendaAluguel">

                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td
                                    style="background-color: #454545; color: #ffffff; font-size: 18px; font-weight: 600; padding: 5px; text-align: center;">
                                    <span id="ContentPlaceHolder1_lblFinalidade">VENDA</span>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    style="background-color: #c41c1d; color: #ffffff; font-size: 18px; font-weight: 600; padding: 5px; text-align: center;">
                                    <span id="ContentPlaceHolder1_lblValorVenda">R$ 1.150.000,00</span>
                                </td>
                            </tr>



                        </tbody>
                    </table>

                    <div id="ContentPlaceHolder1_panelCaracteristicas">

                        <div class="widget">
                            <h5 class="sidebar-title" style="padding-top: 20px;">Características</h5>


                            <div class="search-contents ">
                                <table class="table table-bordered table-striped table-responsive">

                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Código: </strong>
                                            </td>
                                            <td>
                                                15223
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Tipo: </strong>
                                            </td>
                                            <td>
                                                Casa
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Município: </strong>
                                            </td>
                                            <td>
                                                Juiz de Fora
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Bairro: </strong>
                                            </td>
                                            <td>
                                                Aeroporto
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Área do Terreno: </strong>
                                            </td>
                                            <td>
                                                619,00m²
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Dormitório(s): </strong>
                                            </td>
                                            <td>
                                                3 sendo 3 suíte(s)
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Banheiro(s): </strong>
                                            </td>
                                            <td>
                                                5
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Garagem(ns): </strong>
                                            </td>
                                            <td>
                                                1
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>Valor do IPTU: </strong>
                                            </td>
                                            <td>
                                                R$ 169,27
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>



                        </div>

                    </div>
                </div>

                <div id="ContentPlaceHolder1_panelCorretor">

                    <div class="sidebar mbl">
                        <div class="widget">
                            <h5 class="sidebar-title" style="padding-top: 20px;">Corretor</h5>

                            <div class="agent-3">
                                <div class="agent-photo">
                                    <img src="https://picsum.photos/300/200?random=1" alt="JEFERSON DE OLIVEIRA CAMPOS"
                                        class="img-fluid">
                                    <div class="social-list">
                                        <ul>
                                            <li><a href="" class="facebook" target="_blank"><i
                                                        class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://web.whatsapp.com/send?phone=5532984370900&amp;text=[Chat%20através%20do%20site]"
                                                    class="linkedin" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="agent-details">
                                    <h5><a href="agent-detail.html">LUIZA COUTO CISCOTO MELLO</a></h5>
                                    <div class="contact">
                                        <p>
                                            <!-- <i class="fa fa-envelope-o"></i> -->
                                            <a target="_blank"
                                                href="mailto:luiza@ciscotoimoveis.com">luiza@ciscotoimoveis.com</a>
                                        </p>
                                        <p>
                                            <!-- <i class="fa fa-mobile-phone"></i> -->
                                            <a target="_blank"
                                                href="https://api.whatsapp.com/send?phone=5532984197341">5532984197341</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>