<footer class="footer">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>Fale Conosco</h4>

                    <ul class="contact-info">
                        <li>
                            Endereço: Rua Santa Rita, 516 - Centro - Juiz de Fora / MG. CEP: 36010-071
                        </li>
                        <li>
                            E-mail: <a href="mailto:ciscoto@ciscoto.com.br">ciscoto@ciscoto.com.br</a>
                        </li>
                        <li>
                            Telefone: <a href="callto:553232294710">(32) 3229-4710</a>
                        </li>
                    </ul>

                    <ul class="social-list clearfix">
                        <li><a href="https://www.facebook.com/ciscotoimoveisjf" class="facebook" target="_blank"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li>
                            <a href="https://www.instagram.com/ciscotojuizdefora/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>
                        Menu
                    </h4>
                    <ul class="links">
                        <li>
                            <a href="QuemSomos.aspx"><i class="fa fa-angle-right"></i>Quem Somos</a>
                        </li>
                        <li>
                            <a href="Contato.aspx?tit=fale-com-a-ciscoto-553232294710"><i
                                    class="fa fa-angle-right"></i>Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    <h4>NewsLetter</h4>
                    <div class="Subscribe-box">
                        <p>Receba nossas novidades por e-mail.</p>

                        <div class="container">
                            <div class="col-md-12">

                                <input name="txtNewsNome" type="text" value="Nome" id="txtNewsNome" class="form-control"
                                    onblur="if(this.value == '') {this.value = 'Nome';}"
                                    onclick="if (this.value = 'Nome') {this.value = ''};">

                            </div>
                            <br>
                            <div class="col-md-12">

                                <input name="txtNewsEmail" type="text" value="E-mail" id="txtNewsEmail"
                                    class="form-control" onblur="if(this.value == '') {this.value = 'E-mail';}"
                                    onclick="if (this.value = 'E-mail') {this.value = ''};">
                            </div>
                            <br>
                            <div class="col-md-12">
                                <div style="padding-bottom: 30px;" class="g-recaptcha"
                                    data-sitekey="6LeNE4IaAAAAAG8U31_24JcDZvAoFyjNMV-6o0O6">
                                    <div style="width: 304px; height: 78px;">
                                        <div><iframe title="reCAPTCHA"
                                                src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6LeNE4IaAAAAAG8U31_24JcDZvAoFyjNMV-6o0O6&amp;co=aHR0cHM6Ly93d3cuaW52ZXN0LmNvbS5icjo0NDM.&amp;hl=pt-BR&amp;v=dpzVjBAupwRfx3UzvXRnnAKb&amp;size=normal&amp;cb=sha8bjt4vxp3"
                                                width="304" height="78" role="presentation" name="a-b73ic18e898s"
                                                frameborder="0" scrolling="no"
                                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                        </div><textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                            class="g-recaptcha-response"
                                            style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                    </div><iframe style="display: none;"></iframe>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <input type="submit" name="btnNewsEnviar" value="Enviar" id="btnNewsEnviar"
                                    class="btn btn-color">
                                <br>
                                <span id="lblNewsMensagem"></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <p class="copy">© <span id="lblAno">2021</span>
                    <a href="https://empire42.com" target="_blank">&nbsp; <b>E42</b></a>.
                </p>
            </div>
        </div>
    </div>

</footer>